In [27]:
import pandas as pd
import statsmodels.api as sm
# Open and read the Two-Year Demand Modeling file
df = pd.read_csv("Copy of Two-Year Demand Modeling.csv")
df

,id,s22,z122,z222,z322,z422,z522,z622,z722,z922,...,div21,wid21,don21,esp21,al21,dr21,oc21,ic21,iw21,ow21
0,22,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1
1,24,0,0,0,0,0,0,0,0,0,...,0,1,0,1,1,0,0,0,0,0
2,29,2,0,0,0,0,0,0,1,0,...,1,0,0,1,1,0,0,0,0,0
3,30,11,1,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,0
4,31,12,0,0,0,1,0,0,0,0,...,0,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,3743,4,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
279,3746,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
280,3748,6,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
281,3752,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
282,3763,2,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

# For Continuous Member...

In [28]:
# Subset the data to only include rows where mstat21 and mstat22 are both equal to 1
# where the member is a CONTINUOUS member from 2021 to 2022

CONTINUOUS_member_df = df[(df['mstat21'] == 1) & (df['mstat22'] == 1)]

# Run the regression on the subset of the data
X = CONTINUOUS_member_df[['s21', 'a21', 'fem21', 'hh21', 'full21', 'as21', 'bl21', 'wh21', 'marr21', 'div21', 'wid21', 'don21', 'al21', 'dr21', 'oc21', 'ic21', 'iw21', 'ow21']]
y = CONTINUOUS_member_df['s22']
X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    s22   R-squared:                       0.572
Model:                            OLS   Adj. R-squared:                  0.496
Method:                 Least Squares   F-statistic:                     7.501
Date:                Sat, 22 Apr 2023   Prob (F-statistic):           6.46e-12
Time:                        02:55:13   Log-Likelihood:                -510.71
No. Observations:                 120   AIC:                             1059.
Df Residuals:                     101   BIC:                             1112.
Df Model:                          18
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         20.6433     17.342      1.190      0.237     -13.758      55.044
s21            0.8788      0.098      8.967      0.000       0.684       1.073
a21           -0.0026      0.181     -0.014      0.989      -0.362       0.357
fem21         -5.5229      5.072     -1.089      0.279     -15.585       4.539
hh21         -12.5354     10.662     -1.176      0.242     -33.686       8.616
full21        -6.0383      9.216     -0.655      0.514     -24.321      12.245
as21           0.6482     13.502      0.048      0.962     -26.136      27.432
bl21           8.7232     11.585      0.753      0.453     -14.259      31.706
wh21           3.2519     11.577      0.281      0.779     -19.714      26.217
marr21        -2.2518      9.405     -0.239      0.811     -20.909      16.405
div21          1.5894      5.292      0.300      0.765      -8.908      12.087
wid21         -3.3531      5.306     -0.632      0.529     -13.878       7.172
don21         -7.3865      6.673     -1.107      0.271     -20.623       5.850
al21          -5.0956      5.606     -0.909      0.366     -16.216       6.025
dr21         -13.6846     10.263     -1.333      0.185     -34.043       6.673
oc21           1.3337      4.352      0.306      0.760      -7.299       9.966
ic21           1.3990      5.518      0.254      0.800      -9.548      12.346
iw21           6.7500      6.909      0.977      0.331      -6.955      20.455
ow21          -4.1683      6.373     -0.654      0.515     -16.810       8.474
==============================================================================
Omnibus:                       33.516   Durbin-Watson:                   2.096
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               64.327
Skew:                           1.188   Prob(JB):                     1.08e-14
Kurtosis:                       5.687   Cond. No.                     1.05e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.05e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

# For New Member...

In [29]:
# Subset the data to only include rows where mstat22 is equal to 1
# where the member is a NEW member in 2022 (regardless was/wasn't in 2021)

NEW_member_df = df[(df['mstat22'] == 1)]

# Run the regression on the subset of the data
X = NEW_member_df[['s21', 'a21', 'fem21', 'hh21', 'full21', 'as21', 'bl21', 'wh21', 'marr21', 'div21', 'wid21', 'don21', 'al21', 'dr21', 'oc21', 'ic21', 'iw21', 'ow21']]
y = NEW_member_df['s22']
X = sm.add_constant(X)
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    s22   R-squared:                       0.564
Model:                            OLS   Adj. R-squared:                  0.518
Method:                 Least Squares   F-statistic:                     12.20
Date:                Sat, 22 Apr 2023   Prob (F-statistic):           2.69e-22
Time:                        02:55:13   Log-Likelihood:                -783.35
No. Observations:                 189   AIC:                             1605.
Df Residuals:                     170   BIC:                             1666.
Df Model:                          18
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          8.7062      1.922      4.530      0.000       4.912      12.500
s21            0.8758      0.085     10.335      0.000       0.709       1.043
a21            0.0929      0.102      0.909      0.365      -0.109       0.295
fem21         -4.2698      4.103     -1.041      0.299     -12.369       3.829
hh21         -11.0418      9.039     -1.222      0.224     -28.884       6.801
full21        -4.5797      7.767     -0.590      0.556     -19.912      10.753
as21           2.6448     11.418      0.232      0.817     -19.895      25.184
bl21          12.9635      8.520      1.522      0.130      -3.855      29.782
wh21           5.6873      9.549      0.596      0.552     -13.163      24.537
marr21        -3.0612      8.078     -0.379      0.705     -19.007      12.884
div21          1.0935      4.538      0.241      0.810      -7.866      10.053
wid21         -4.4239      4.394     -1.007      0.315     -13.097       4.250
don21         -8.3140      5.658     -1.469      0.144     -19.484       2.856
al21          -4.8508      4.842     -1.002      0.318     -14.410       4.708
dr21         -13.1013      8.853     -1.480      0.141     -30.577       4.374
oc21           1.0065      3.745      0.269      0.788      -6.385       8.398
ic21           1.4754      4.775      0.309      0.758      -7.951      10.902
iw21           7.1720      5.956      1.204      0.230      -4.586      18.930
ow21          -4.7922      5.461     -0.878      0.381     -15.572       5.988
==============================================================================
Omnibus:                       62.297   Durbin-Watson:                   2.094
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              169.771
Skew:                           1.396   Prob(JB):                     1.36e-37
Kurtosis:                       6.710   Cond. No.                         873.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Model of attrition of existing members

In [30]:
# The first line creates a new column 'Lt' and sets its value to 1 if both 's21' and 's22' are greater than 0, and sets it to 0 otherwise. 
# The astype(int) function is used to convert the resulting boolean values to integers (0 or 1).

# The second line sets the value of 'Lt' to 0 for the rows where 's21' is equal to 0. 
# This ensures that the value of 'Lt' is 0 for the cases where St=0.

df['Lt'] = ((df['s21'] > 0) & (df['s22'] > 0)).astype(int)
df.loc[df['s21'] == 0, 'Lt'] = 0

In [31]:
# create a subset of the data where St-1 > 0
subset = df[df['s21'] > 0]

# estimate the attrition model
import statsmodels.formula.api as smf
model = smf.logit(formula='Lt ~ s21 + a21 + fem21 + as21 + bl21 + wh21 + marr21 + div21 + wid21 + don21 + esp21 + al21 + dr21 + oc21 + ic21 + iw21', data=subset)
result = model.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.497677
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                     Lt   No. Observations:                  211
Model:                          Logit   Df Residuals:                      194
Method:                           MLE   Df Model:                           16
Date:                Sat, 22 Apr 2023   Pseudo R-squ.:                  0.2168
Time:                        02:55:13   Log-Likelihood:                -105.01
converged:                       True   LL-Null:                       -134.07
Covariance Type:            nonrobust   LLR p-value:                 1.080e-06
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -2.4917      1.633     -1.526      0.127      -5.692       0.708
s21            0.0704      0.019      3.625      0.000       0.032       0.109
a21            0.0034      0.016      0.210      0.834      -0.028       0.035
fem21          0.4111      0.421      0.978      0.328      -0.413       1.235
as21           1.7325      1.091      1.588      0.112      -0.406       3.871
bl21           1.5074      0.818      1.843      0.065      -0.096       3.110
wh21           0.9439      0.683      1.382      0.167      -0.395       2.283
marr21        -0.5103      0.621     -0.821      0.411      -1.728       0.707
div21          0.3346      0.508      0.659      0.510      -0.660       1.330
wid21          0.8041      0.541      1.487      0.137      -0.256       1.864
don21          1.8628      1.123      1.659      0.097      -0.338       4.064
esp21          1.0878      0.688      1.582      0.114      -0.260       2.435
al21          -0.5352      0.572     -0.936      0.349      -1.656       0.586
dr21           0.3411      0.883      0.386      0.699      -1.389       2.071
oc21           1.0242      0.513      1.996      0.046       0.019       2.030
ic21          -0.2414      0.607     -0.398      0.691      -1.431       0.949
iw21          -0.8016      0.563     -1.424      0.154      -1.905       0.302
==============================================================================